In [1]:
import numpy as np
import pandas as pd

In [43]:
df_driver=pd.read_csv(r'drivers.csv')
df_driver

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
849,851,aitken,89,AIT,Jack,Aitken,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou

In [49]:
driver=df_driver.iloc[:,0:2]
driver

     driverId        driverRef
0           1         hamilton
1           2         heidfeld
2           3          rosberg
3           4           alonso
4           5       kovalainen
..        ...              ...
849       851           aitken
850       852          tsunoda
851       853          mazepin
852       854  mick_schumacher
853       855             zhou

[854 rows x 2 columns]

In [7]:
df_race=pd.read_csv(r"races.csv")
df_race

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,1092,2022,18,22,Japanese Grand Prix,2022-10-09,05:00:00,http://en.wikipedia.org/wiki/2022_Japanese_Gra...,2022-10-07,04:00:00,2022-10-07,08:00:00,2022-10-08,04:00:00,2022-10-08,07:00:00,\N,\N
1075,1093,2022,19,69,United States Grand Prix,2022-10-23,19:00:00,http://en.wikipedia.org/wiki/2022_United_State...,2022-10-21,19:00:00,2022-10-21,22:00:00,2022-10-22,19:00:00,2022-10-22,22:00:00,\N,\N
1076,1094,2022,20,32,Mexico City Grand Prix,2022-10-30,20:00:00,http://en.wikipedia.org/wiki/2022_Mexican_Gran...,2022-10-28,18:00:00,2022-10-28,21:00:00,2022-10-29,17:00:00,2022-10-29,20:00:00,\N,\N
1077,1095,2022,21,18,Brazilian Grand Prix,2022-11-13,18:00:00,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...,2022-11-11,15:30:00,2022-11-12,15:30:00,\N,\N,2022-11-11,19:00:00,2022-11-12,19:30:00
1078,1096,2022,22,24,Abu Dhabi Grand Prix,2022-11-20,13:00:00,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...,2022-11-18,09:00:00,2022-11-18,12:00:00,2022-11-19,10:00:00,2022-11-19,13:00:00,\N,\N

In [57]:
race=df_race[['raceId','name','year']]

In [50]:
df_result=pd.read_csv(r"results.csv")
df_result

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,25481,1077,849,3,6,19,16,16,16,0.0,62,\N,\N,62,12,1:21.338,217.271,11
25476,25482,1077,854,210,47,10,17,17,17,0.0,62,\N,\N,55,4,1:18.999,223.704,11
25477,25483,1077,817,1,3,6,18,18,18,0.0,62,\N,\N,61,14,1:21.577,216.634,11
25478,25484,1077,4,214,14,9,\N,R,19,0.0,6,\N,\N,5,19,1:39.685,177.282,83
25479,25485,1077,832,6,55,4,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,4

In [53]:
merge1=df_result.merge(driver,left_on='driverId',right_on='driverId')
merge1=merge1.drop(columns=['driverId'])

In [59]:
merge2=merge1.merge(race,left_on='raceId',right_on='raceId')
merge2.columns

Index(['resultId', 'raceId', 'constructorId', 'number', 'grid', 'position',
       'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'driverRef', 'name', 'year'],
      dtype='object')

In [62]:
merge3=merge2.drop(columns=['points','raceId','number','positionText','laps','time',
       'milliseconds','fastestLapTime','fastestLapSpeed','statusId','fastestLap','positionOrder'])
merge3

,resultId,constructorId,grid,position,rank,driverRef,name,year
0,1,1,1,1,2,hamilton,Australian Grand Prix,2008
1,2,2,5,2,3,heidfeld,Australian Grand Prix,2008
2,3,3,7,3,5,rosberg,Australian Grand Prix,2008
3,4,4,11,4,7,alonso,Australian Grand Prix,2008
4,5,1,3,5,1,kovalainen,Australian Grand Prix,2008
...,...,...,...,...,...,...,...,...
25475,20119,51,3,2,\N,fagioli,Belgian Grand Prix,1950
25476,20128,154,13,\N,\N,chaboud,Belgian Grand Prix,1950
25477,20127,105,11,10,\N,branca,Belgian Grand Prix,1950
25478,20126,126,12,9,\N,crossley,Belgian Grand Prix,1950
25479,20129,154,5,\N,\N,sommer,Belgian Grand Prix,1950

In [66]:
df_con=pd.read_csv(r'constructors.csv')
con=df_con.iloc[:,0:2]
con

     constructorId constructorRef
0                1        mclaren
1                2     bmw_sauber
2                3       williams
3                4        renault
4                5     toro_rosso
..             ...            ...
206            209          manor
207            210           haas
208            211   racing_point
209            213     alphatauri
210            214         alpine

[211 rows x 2 columns]

In [68]:
merge4=merge3.merge(con,left_on='constructorId',right_on='constructorId')
result=merge4.drop(columns=['constructorId'])
result

,resultId,grid,position,rank,driverRef,name,year,constructorRef
0,1,1,1,2,hamilton,Australian Grand Prix,2008,mclaren
1,5,3,5,1,kovalainen,Australian Grand Prix,2008,mclaren
2,27,9,5,3,hamilton,Malaysian Grand Prix,2008,mclaren
3,25,8,3,7,kovalainen,Malaysian Grand Prix,2008,mclaren
4,57,3,13,19,hamilton,Bahrain Grand Prix,2008,mclaren
...,...,...,...,...,...,...,...,...
25475,20092,22,\N,\N,schindler,Indianapolis 500,1950,snowberger
25476,20088,29,22,\N,ader,Indianapolis 500,1950,rae
25477,20089,30,23,\N,holmes,Indianapolis 500,1950,olson
25478,20093,17,\N,\N,levrett,Indianapolis 500,1950,adams
25479,20180,17,\N,\N,cantrell,Indianapolis 500,1950,adams

In [69]:
result.to_csv("clean_result.csv")